.styleBtn() {

  border: 1px solid #ffbb11;
  border-radius: 8px;
  background-image: linear-gradient( 360deg, rgb(245,173,0) 0%, rgb(255,181,4) 100%);
  background-image: -moz-linear-gradient( 360deg, rgb(245,173,0) 0%, rgb(255,181,4) 100%);
  background-image: -webkit-linear-gradient( 360deg, rgb(245,173,0) 0%, rgb(255,181,4) 100%);
  background-image: -ms-linear-gradient( 360deg, rgb(245,173,0) 0%, rgb(255,181,4) 100%);
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.1);
  font: 12px "Proxima Nova Semibold", Arial, sans-serif;  
  text-transform: uppercase;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.styleBtnHover() {
  background-image: linear-gradient( 360deg, rgb(216,152,0) 0%, rgb(255,200,67) 100%);
  background-image: -moz-linear-gradient( 360deg, rgb(216,152,0) 0%, rgb(255,200,67) 100%);
  background-image: -webkit-linear-gradient( 360deg, rgb(216,152,0) 0%, rgb(255,200,67) 100%);
  background-image: -ms-linear-gradient( 360deg, rgb(216,152,0) 0%, rgb(255,200,67) 100%);
}

body {
  max-width: 100%;
  min-height: 3000px;
  background-color: #fff;
  color: #292929;
  font: 16px "Proxima Nova", Arial, sans-serif;
}

.container {
  width: 1260px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  outline: 1px solid black;
}

.title-section {
  margin: 0;
  font-size: 36px; 
  font-weight: bold;
  text-align: center;
}

p {
  margin: 0;
}

.btn {
  .styleBtn();
  &:hover {
    .styleBtnHover();
  }
}

.first-screen {
  width: 100%;
  padding-top: 20px;
  background: url(../img/head-bg-picture.jpg) no-repeat top center;
  background-size: auto;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 86px;
  height: 70px;
  .header-logo {
    width: 206px;
    height: 70px;
    margin-right: auto;
  }
  .header-phone {
    font: bold 20px "Proxima Nova", Arial, sans-serif;
  }
  .btn_header {
    width: 226px;
    height: 50px;
    margin-left: 30px;
  }
}

.columns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 524px
}

.column-left {
  width: 610px;
  .column-left__title {
    margin: 0;
    margin-bottom: 29px;
    font-size: 40px;
    font-weight: bold;
    line-height: 58px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }
  .column-left__subtitle {
    width: 290px;
    font-size: 24px;
    margin-bottom: 58px;
  }
  .column-left__block-price {
    margin-bottom: 28px;
    padding: 21px 11px 17px 9px;
    width: 200px;
    background: #70c849;
    color: #fff;
    font: 18px/32px "Proxima Nova Semibold", Arial, sans-serif;
    text-align: center;
    span {
      font-size: 30px;
    }
  }
  .column-left__text {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}

.column-right {
  display: flex;
  justify-content: flex-end;
  padding-top: 14px;
  width: 610px;
  .column-right__form {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 41px;
    width: 355px;
    height: 369px;
    background: #fff;

  }
  .column-right__title-form {
    margin: 0;
    margin-bottom: 17px;
    padding-left: 50px;
    padding-right: 49px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    
  }
  .column-right__input {
    margin-bottom: 9px;
    padding: 20px 10px 15px;
    width: 235px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    color: #202020;
    outline: none;
    &:focus {
      border-color: #a0a0a0;
    }
    &:last-of-type {
      margin-bottom: 25px;
    }
  }
  label {
    position: relative;
    top: 9px;
    padding: 0 9px;
    font-size: 13px;
    background: #fff;
    color: #565656;
  }
  .column-right__form-btn {
    width: 257px;
    height: 65px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  small {
    text-align: center;
    width: 215px;
    font-size: 12px;
  }
  .small-text-2 {
    position: absolute;
    bottom: -39px;
    left: 31px;
    text-align: left;
  }
}

/* Блок features */

.features {
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  flex-flow: row wrap;
  padding: 90px 10px 138px;
  background: #fff;
  color: #1a1820;
  .features__title {
    flex-basis: 100%;
    margin: 0;
    margin-bottom: 119px;
  }
}

.features-item {
  width: 300px;
  text-align: center;
  &:first-of-type {
    margin-left: -15px;
  }
  &:last-of-type {
    margin-right: -7px;
    margin-left: -7px;
  }
  .features-item__icon {
    margin-bottom: 55px;
  }
  .features-item__title {
    margin: 0;
    margin-bottom: 29px;
    font-size: 20px;
    font-weight: bold;
  }
  .features-item__text {
    font-size: 16px;
    font-weight: 300;
    .features-item__text-link {
      text-decoration: none;
      color: #4aa223;
    }
  }
}

/* Блок Price */

.price {
  min-height: 1000px;
  background: url(../img/price-bg.jpg) repeat top left;
  color: #fff;
  text-align: center;
}

.price-heading {
  position: relative;
  margin-bottom: 88px;
  .price-title {
    padding-top: 111px;
    padding-bottom: 39px;
  }
  .price-subtitle {
    font-size: 18px;
    word-spacing: 1px;
  }
  .price-heading-btn {
    position: absolute;
    top: 122px;
    right: 0;
    display: inline-block;
    padding: 0px 23px 0px 32px;
    font-size: 18px;
    line-height: 63px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.3px;
  }
}

.price-items-wrap {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.price-item {
   display: flex; 
   flex-flow: column nowrap;
   justify-content: flex-start;
   align-items: center;
  padding-top: 27px;
  width: 400px;
  min-height: 500px;
  background: #fff;
  color: #1a1820;
  outline: 1px solid green;
  .price-item__title {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 32px;
  }
  .price-item__img {
    margin-bottom: 30px;
  }
  .price-item__cost {
    margin-bottom: 17px;
    color: #1a1820;
    font: bold 19px/32px "Proxima Nova", Arial, sans-serif;
    text-align: center;
    span {
      font-size: 30px;
    }
  }
  .price-item__list {
    margin: 0;
    margin-bottom: 16px;
    padding: 0; 
    font-size: 18px;
    line-height: 30px;
    list-style-type: none;
    .price-item__list-item {

      &::before {
        margin-left: -36px;
        margin-top: 12px;
        padding-left: 36px;
        content: '';
        width: 11px;
        height: 9px;
        background: url(../img/check-icon.png) no-repeat center;
      }
    }
  }
  .price-item__btn {
    /* align-self: flex-end; */
    margin-top: auto;
    margin-bottom: 45px;
    padding: 20px 59px 21px;
    font: 18px "Proxima Nova Semibold", Arial, sans-serif; 
  }
}














